.image-gallery-slider {

  .image-gallery-slide {
    margin: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.mfp-zoom-out-cur {
  .mfp-counter{
    display: none;
  }
}
